useDynLib(CARMA, .registration=TRUE)
importFrom(Rcpp, evalCpp)
import(Matrix)
import(glmnet)
import(MASS)
importFrom("methods", "as")importFrom("utils", "combn", "write.table")
importFrom("stats", ".lm.fit", "coef", "lm", "na.omit", "quantile","rgamma")
exportPattern("^[[:alpha:]]+")
